{% extends "base.html" %}
{% load static %}


{% block content %}



<section class="category_cursol">
  <div class="container">
    <div class="emblaCategory">
      <div class="emblaCategory__viewport">
        <div class="emblaCategory__container">

          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/gamingCategory.png' %}" alt="">
              </div>
              <p class="title">Gaming</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/sportEquipment.png' %}" alt="">
              </div>
              <p class="title">Sport Equipment</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/kitchen.png' %}" alt="">
              </div>
              <p class="title">Kitchen</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/mobiles.png' %}" alt="">
              </div>
              <p class="title">Mobiles</p>
            </div>
          </a>

          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/office.png' %}" alt="">
              </div>
              <p class="title">Office</p>
            </div>
          </a>



          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/camera.png' %}" alt="">
              </div>
              <p class="title">Cameras</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/computer.png' %}" alt="">
              </div>
              <p class="title">Computers</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/tv.png' %}" alt="">
              </div>
              <p class="title">Televisions</p>
            </div>
          </a>

          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/gamingCategory.png' %}" alt="">
              </div>
              <p class="title">Gaming</p>
            </div>
          </a>

            
          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/kitchen.png' %}" alt="">
              </div>
              <p class="title">Kitchen</p>
            </div>
          </a>


          <a href="./index.html" class="emblaCategory__slide">
            <div class="category">
              <div class="image">
                <img src="{% static '/assets/mobiles.png' %}" alt="">
              </div>
              <p class="title">Mobiles</p>
            </div>
          </a>

        </div>
      </div>
      <button class="emblaCategoryControler emblaCategory__prev"><i class="fa-solid fa-chevron-left"></i></button>
      <button class="emblaCategoryControler emblaCategory__next"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</section>




<section class="landingPage">
  <div class="container">
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide"><img src="{% static 'images/4.jpeg' %}" alt="">
          <div class="content" data-aos="fade-left"  >
            <p>save 8000.00DA</p>
            <h2>New Bespoke AI Laundry<br> Combo</h2>
            <p>Get 8000.00DA off, Plus, enjoy free installation, haul away and more</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>

        <div class="embla__slide"><img src="{% static 'images/1.jpeg' %}" alt="">
          <div class="content black"    >
            <p>limit time offer</p>
            <h2>Intelligent design <br> smart saving</h2>
            <p>Save up to 10000.00 DA on an 85" Class Samsung Neo <br>QLED 8K QN800C</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>

        <div class="embla__slide"><img src="{% static 'images/2.jpeg' %}" alt="">
          <div class="content black"  >
            <h2>Buy Big. Get Bigger.</h2>
            <p>Get The Freestyle 2nd Gen portable projector with Gaming <br> Hub when you buy a 98" QLED 4K.</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>

        <div class="embla__slide"><img src="{% static 'images/3.jpeg' %}" alt="">
          <div class="content black">
            <p>save 8000.00DA</p>
            <h2>New Bespoke AI Laundry<br> Combo</h2>
            <p>Get 8000.00DA off, Plus, enjoy free installation, haul away and more</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>
        
        <div class="embla__slide"><img src="{% static 'images/5.jpeg' %}" alt="">
          <div class="content black">
            <p>Save 7000.00DA</p>
            <h2>Cool deals on <br> cooler fridges</h2>
            <p>Get up to 7000.00DA off select Bespoke Refrigerators. Plus, enjoy <br> free installation.</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>
        <div class="embla__slide"><img src="{% static 'images/6.jpeg' %}" alt="">
          <div class="content black"  >
            <p>limit time offer</p>
            <h2>Intelligent design <br> smart saving</h2>
            <p>Get a Second Galaxy Watch6 on us and more with any <br> Galaxy Watch6 purchase.</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>
        <div class="embla__slide"><img src="{% static 'images/7.jpeg' %}" alt="">
          <div class="content "   >
            <p>Save 10000.00DA</p>
            <h2>Meet your new Galaxy <br>family</h2>
            <p>bundle and save up to 10000.00 DA with Galaxy S24 Ultra, Watch6 and Buds2 Pro.</p>
            <a href="http://www.fuckyou.com">
              <button>buy now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <button class="emblaControler embla__prev"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="emblaControler embla__next"><i class="fa-solid fa-chevron-right"></i></button>
  </div>


  </div>
</section>

  <section class="posts">
    <div class="container">
      <h2 class="category-title">trending</h2>
      <a href="#">View more -></a>
    </div>
    <div class="container">


      <div class="wrapper">


{% for post in  posts %}
      <div class="post">
        <div class="image">
            <img src="{{  post.image}}" alt="Image">
        </div>
        <div class="content">
          <h4 class="title"> {{post.post.title}} </h4>
          <div class="rowPrice">
            <div class="price">
              {{post.post.price}}  \ {{post.post.month}}  month
            </div>
            <div class="wilayTag">
              {{post.post.wilaya}} 
            </div>
          </div>
        </div>
        <a href="{% url 'post_detail'  post_id=post.post.id  %}" class="button">
          See More >
        </a>
      </div>
{% endfor %}



      </div>
    </div>
  </section>


  <script src="{% static 'js/cursolCategory.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <!-- for some animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="{% static 'js/cursol.js' %}"></script>
{% endblock content %}