{% extends "base.html" %}
{% load static %}


{% block content %}



<section class="filter">
  <div class="container">
    <form action="">
      <div class="search__input">
        <input type="search" id="search">
        <div class="search--icon">
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>

      <div id="select__inputs">
        <div>
          <label for="wilaya">wilaya</label>
          <select class="one" id="type" name="type">
            <option value="Taksit">Taksit</option>
          </select>
        </div>

        <div>
          <label for="category">category</label>
          <select class="one" id="wilaya" name="wilaya">
            <option value="djelfa">Djelfa</option>
          </select>
        </div>

        <div>
          <label for="duration">Duration</label>
          <select class="one" id="wilaya" name="wilaya">
            <option value="12">12 months</option>
            <option value="24">24 months</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</section>



  <section class="posts">
    <div class="container">
      <h2 class="category-title">posts</h2>
      {% comment %} <a href="#">View more -></a> {% endcomment %}
    </div>
    <div class="container">


      <div class="wrapper">


{% for post in  posts %}
      <div class="post">
        <div class="image">
            <img src="{{  post.image}}" alt="Image">
        </div>
        <div class="content">
          <h4 class="title"> {{post.post.title}} </h4>
          <div class="rowPrice">
            <div class="price">
              {{post.post.price}}DA
              {% if post.post.months is not none %}
                \ {{ post.post.months }}  month
              {% endif %}
            </div>
            <div class="wilayTag">
              {{post.post.wilaya}} 
            </div>
          </div>
        </div>
        <a href="{% url 'post_detail'  post_id=post.post.id  %}" class="button">
          See More >
        </a>
      </div>
{% endfor %}



      </div>
    </div>
  </section>


  <script src="{% static 'js/cursolCategory.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <!-- for some animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="{% static 'js/cursol.js' %}"></script>
{% endblock content %}