{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="profile-avatar">
  <div class="container">
    {% include "partials/_messages.html" %}
    <div class="avatar"><a href="">
        <img src="{{ request.user.img.url }}" alt="">
      </a>
    </div>
    <p class="name"> {{request.user.first_name}} {{request.user.last_name}} </p>
  </div>
</section>



{% comment %} 
<section class="posts profile">
  <div class="container">
    <h2 class="category-title">posts</h2>
  </div>
  <div class="container">


    <div class="wrapper">


{% for post in  post_data %}
      <div class="post">
        <div class="image">
              <img src="{{ post.image  }}" alt="Image">
        </div>
        <div class="content">
          <h4 class="title"> {{post.post.title}} </h4>
          <div class="rowPrice">
            <div class="price">
              {{post.post.price}}DA
              {% if post.post.months is not none %}
                \ {{ post.post.months }}  month
              {% endif %}
            </div>
            <div class="wilayTag">
              {{post.post.wilaya}} 
            </div>
          </div>
        </div>
        <a  href="{% url 'post_detail'  post_id=post.post.id  %}" class="button">
          See More >
        </a>
      </div>
{% endfor %}

    </div>
  </div>
</section> {% endcomment %}

<div class="profile filters">
  <div class="container">
    <div class="bill selected">
      All Orders 
    </div>
    <div class="bill">
      Pending
    </div>
    <div class="bill">
      Ongoing
    </div>
    <div class="bill">
      Completed
    </div>
  </div>
</div>

<section class="posts profile">
  <div class="container">
    <h2 class="category-title">Pending</h2>
  </div>
  <div class="container">

    <div class="wrapper">

{% for post in  ordered_posts %}
      <div class="post">
        <div class="image">
              <img src="{{ post.image  }}" alt="Image">
        </div>
        <div class="content">
          <div class="rowDate">
            <small class="dateTime">Sat 04 May 2025 - 09:52PM</small>
          </div>
          <h4 class="title"> {{post.post.title}} </h4>
          <div class="rowProfile">
            <div class="profile">
              <div class="avatar">
              <img src="{{ post.post.seller.img.url  }}" alt="Image">
              </div>
              <div class="info">
                <div class="name">
                {{ post.post.seller.name}}
                </div>
                <small>shope</small>
              </div>
            </div>
            <div class="wilayTag">
              Djelfa
            </div>
          </div>
          <div class="rowCards">

            <div class="card clicked" data-card-id="1">
              <div class="duration">
                6 Month plan
              </div>
              <div class="price">
                5,499.00DA
              </div>
              <small>per month</small>
            </div>

            <div class="card" data-card-id="2">
              <div class="duration">
                12 Month plan
              </div>
              <div class="price">
                5,499.00DA
              </div>
              <small>per month</small>
            </div>

            <div class="card" data-card-id="3">
              <div class="duration">
                24 Month plan
              </div>
              <div class="price">
                5,499.00DA
              </div>
              <small>per month</small>
            </div>
          </div>
        </div>
        <a  href="{% url 'post_detail'  post_id=post.post.id  %}" class="button">
          See More >
        </a>
      </div>
{% endfor %}




    </div>
  </div>
</section>





  <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}